{% extends 'index.html' %}


{% block estilos-index %}
    <link rel="stylesheet" href="../../static/css/register.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    </style>
{% endblock estilos-index %}

{% block container %}
<div class="registro">
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

    <h2>Registro</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    
        <input type="submit" value="Registrar" class="boton">
    </form>
</div>

{% endblock container %}