{% load static %}

<header>
    <div class="logo">
        {% load static %}
        <img src="{% static 'img/logo.png' %}" alt="">
    </div>
    <div class="login">
        <form action="{% url 'login' %}">
            <input type="submit" value="Iniciar sesion">
        </form>
        <form action="{% url 'register' %}">
            <input type="submit" value="Registrarse">
        </form>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#">Mision y Vision</a></li>
            <li><a href="#">Estadisticas</a></li>
        </ul>
    </nav>
</header>