<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
    </style>
    <title>True</title>
</head>
<body>
    <header>        
        <div class="logo">
            {% load static %}
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="login">
            <a href="#">
                <button>Iniciar sesion</button>
            </a>
            <a href="#">
                <button>Registrarse</button>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Mision y Vision</a></li>
                <li><a href="#">Estadisticas</a></li>
            </ul>
        </nav>
    </header>
    <div name="True">
        <h3>¿Que es True?</h3>
        <p>True es un videojuego de aventura donde el principal objetivo es descubrir y aprender sobre la verdadera historia de Colombia, aquí no encontraras héroes o villanos, acá encontraras la verdad.<br>
            Aunque no siempre tendrás un final feliz, podrás viajar al pasado y entender el porqué de nuestra historia, el porqué de nuestra independencia y el porqué de nuestro presente.<br>
            Acompáñanos en este viaje al pasado y aprendamos acerca de nuestra historia y de nuestra verdad.<br>
            </p>
    </div>
    <div name="Mision">
        <h3>Mision</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta mollitia aspernatur iusto inventore veniam nisi et modi odio, repellat nulla in laborum asperiores officiis rem soluta obcaecati exercitationem voluptatem blanditiis.</p>
    </div>
    <div name="Vision">
        <h3>Vision</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta mollitia aspernatur iusto inventore veniam nisi et modi odio, repellat nulla in laborum asperiores officiis rem soluta obcaecati exercitationem voluptatem blanditiis.</p>
    </div>
</body>
</html>